.about-area h3 {
    margin: 0 0 15px;
}

.skill-bar {
    margin-bottom: 28px;
}

.progress-mark span, .progress-title-holder {
    color: #5e5e5e;
    font-family: Montserrat,sans-serif;
    font-weight: 700;
    margin: 0 0 15px;
}
.progress-title-holder {
    position: relative;
    font-size: 14px;
    text-transform: uppercase;
}

.progress-title {
    z-index: 100;
}

.progress-wrapper {
    width: 100%;
    z-index: 10;
}

.progress-mark {
    position: absolute;
    bottom: 0;
}

.progress-mark span.percent {
    position: absolute;
    right: -10px;
    bottom: -15px;
    width: 35px;
}

.progress-mark:after {
    background: #484848 none repeat scroll 0 0;
    border-radius: 50%;
    box-shadow: 0 0 0 4px rgba(72,72,72,.5);
    content: "";
    height: 14px;
    position: absolute;
    right: 0;
    bottom: -25px;
    width: 14px;
    z-index: 999;
}

.progress-content, .progress-outter {
    height: 7px;
    border-radius: 3px;
}
.progress-outter {
    background-color: #c8c8c8;
}

.progress-content {
    background-color: #484848;
    /* width: 0; */
}