/* background color */
.container.exp{
    background-color:#f5f5f5;
}


/* Section title start */
.section-title {
    margin: 0 0 50px;
    ;
}

    .section-title > h2 {
        color: #494949;
        text-transform: uppercase;
        margin: 0 0 15px;
    }

    .text-center {
        text-align: center;
    }

.horizontal-line > div {
    background-color: #bcbcbc;
    height: 2px;
    margin: 0 auto;
}
    .horizontal-line > div.top-line {
        width: 45px;
        margin-bottom: 5px;
    }
    .horizontal-line > div.bottom-line {
        width: 80px;
    }
/* section title end */

/* Section content start */

.expierence-box {
    display: inline-block;
    width: 100%;
    position: relative;
    /* margin-bottom: 40px; */
}

.expierence-box:nth-child(1){
    margin-bottom: 40px;
}

    .exp-time{
        width: 30%;
        float: left;
        color: #939393;
    }
        .exp-time > .dashed-line {

        }
        .exp-time > i {
            float: left;
            position: relative;
        }

        .exp-time > p,
        .experience > p {
            font-size: 15px;
            line-height: 22px;
            color: #939393;
            margin: 15px 0;
        }

        .exp-time > h4 {
            font-size: 18px;
            line-height: 18px;
            font-weight: 400;
            color: #696969;
        }
    .experience {
        width: 70%;
        float: left;
        padding-left: 40px;
        position: relative;
    }

        .experience > h3 {
            font-size: 20px;
            line-height: 20px;
            color: #5e5e5e;
            position: absolute;
            top: -22px;
        }


/* Section content end */