.overlay{
    background: #000;
    opacity: 0;
    height: 100%;
    margin-top: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    animation-name: fade;
    animation-duration: 2s;
}

.overlayLogo{
    background: #000 none repeat scroll 0 0;
    opacity: 0;
    height: 100%;
    margin-top: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    animation-name: fadeL;
    animation-duration: 2s;
}

@keyframes fade {
    0% {opacity: 0;}
    50% {opacity: 1;}
    100% {opacity: 0;}
}

@keyframes fadeL {
    0% {opacity: 0;}
    50% {opacity: 1;}
    100% {opacity: 0;}
}

.logoWhite{
    display: inline-block;
    left: calc((100% - 120px)/2);
    position: fixed;
    top: 50%;
    width: 120px;
}

#main_header {
    position: relative;
}
.container.header{
    padding: 50px 0;
}

.container.header,
.container.introduction
{
    background-color: #f5f5f5;
}

.container.header.fixedHeader {
    position: fixed;
    height: 60px;
    width: 100%;
    box-shadow: 0px 2px 2px rgb(223, 220, 220);
    z-index: 99999999;
    background-color: var(--main-color);
    margin: 0;
    padding: 0 calc((100% - 1200px) / 2);
}

.header .logo{
    display: inline-block;
    float: left;
    
}

.header .logo:hover{
    cursor: pointer;
}

.logoMin {
    padding-top: 10px;
    transition: 1s;
    transform: scale(0.8);
}

        .header > .row nav{
            display: inline-block;
            float: right;
            padding-top: 10px;
        }

            .header > .row nav a{
                text-decoration: none;
                color: #a1a1a1;
                text-transform: uppercase;
                font-family: Montserrat;
                font-size: 14px;
                line-height: 40px;
                font-weight: 400;
                padding: 10px;
                letter-spacing: .4px;
                position: relative;
            }

            nav .ref::after,
            nav > a.active::after
            {
                content: "";
                transition: all 500ms ease;
                width: 0;
                left: 0;
                background: #afafaf;
                height: 2px;
                right: 0;
                margin-top: -1px;
                position: absolute;
                top: 50%;
                }
    
                .header > .row nav a:hover{
                    color: #c7c5c5;
                }
    
                nav .ref:hover::after,
                nav > a.active::after
                {
                    width: 100%;
                }    


            .row nav .menuIcon{
                display: inline-block;
                padding-top: 12px;
                padding-left: 10px;
            }

                .row nav .mIcon{
                    width: 15px;
                    height: 2px;
                    background-color: #a1a1a1;
                    margin: 3px 0;  
                }
        
    .introduction{
        padding: 0;
    }

        .introduction > .row{
            display: inline-block;

        }

            .introduction > .row .text{
                display: inline-block;
                margin-top: 250px;
            }

                h5{
                color: #919191;
                text-transform: uppercase;
                font-family: 'montserratsemibold';
                font-size: 16px;
                letter-spacing: 1px;
                margin: 0 0 15px;
                font-weight: 700;
                text-transform: uppercase;
                }

                h1{
                color: #414141;
                font-size: 44px;
                line-height: 28px;
                margin: 0 0 15px;
                font-family: 'Montserrat',sans-serif;
                font-weight: 700;
                text-transform: uppercase;
                }

                .text > p{
                    color: #6a6a6a;
                    font-family: 'Poppins';
                    font-size: 15px;
                    line-height: 28px;
                    padding-bottom: 45px;
                    word-break: keep-all;
                }


        .introduction img{
            display: inline-block;
            float: right;
            
        }



                

