/* Tag defaults */

.p {
    font-family: 'Poppins',sans-serif;
    color: var(--color-class-grey-10);
    font-size: 14px;
    line-height: 30px;
    font-weight: 400;
    margin: 0 0 15px;
    text-align: justify;
}

.a {
    outline: none;
    cursor: pointer;
    text-decoration: none;
    color: var(--color-class-white);
    font-family: 'montserratsemibold';
}

h2 {
    font-size: 32px;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    color: var(--color-class-grey-13);
    text-transform: uppercase;
    margin: 0 0 15px;
}

h3 {
    font-size: 24px;
    /* font-family: 'montserratsemibold'; */
    font-weight: 400;
    color: var(--color-class-grey-14);
}

h3.bold {
    font-weight: 600;
}

h4 {
    color: var(--color-class-grey-10);
    font-family: 'Montserrat',sans-serif;
    font-size: 18px;
    font-weight: 400;
}

/* Modificators */

.text-center {
    text-align: center;
}

.capitalize {
    text-transform: capitalize;
}

.mr-40 {
    margin-right: 40px;
}

.mt-20 {
    margin-top: 20px;
}

.line-height-28 {
    line-height: 28px;
}

.font-16 {
    font-size: 16px;
}

.font-20 {
    font-size: 20px;
}

.light-bg {
    background-color: var(--color-class-white);
}

/* Layout */

.section {
    /* padding: 100px 0px; */
}

/* Headings (section titles) */

.section-title {
    margin: 0 0 50px;
}

    .section-title h2 {
        color: var(--color-class-grey-13);
        text-transform: uppercase;
        margin: 0 0 15px;
    }

/* Buttons */

.btn {
    background-color: var(--color-class-grey-15);
    text-decoration: none;
    color: var(--color-class-white);
    border-radius: 5px;
    font-size: 15px;
    height: 50px;
    line-height: 50px;
    padding: 0 30px;
    /* -webkit-transition: all .3s ease 0s; */
    /* transition: all .3s ease 0s; */
    display: inline-block;
    /* margin-bottom: 0; */
    /* font-weight: normal; */
    text-align: center;
    /* vertical-align: middle; */
    box-shadow: 2px 2px 8px var(--color-class-black);
}

.lg-btn{
    width: 173px;
}

.btn:hover{
    background-color: var(--color-class-black);
    transition: 10ms;
   
}

/* Back to top button */

#back-to-top-btn {
    display: none;
    position: fixed;
    z-index: 4;
    bottom: 60px;
    right: 20px;
    font-size: 26px;
    width: 30px;
    height: 35px;
    background-color: var(--color-class-grey-15);
    color: var(--color-class-white);
    cursor: pointer;
    outline: none;
    font-size: 22px;
    line-height: 22px;
    text-align: center;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
  }
    #back-to-top-btn:hover {
        background-color: var(--color-class-black);
    }
    .fa.fa-angle-up {
        margin-top: calc(50% - 11px);
    }
   
  /* Animations */
  .btnEntrance {
    animation-duration: 0.5s;
    animation-fill-mode: both;
    animation-name: btnEntrance;
  }

  /* fadeInUp */
  @keyframes btnEntrance {
    from {
      opacity: 0;
      transform: translate3d(0, 100%, 0);
    }
    to {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }
  
  .btnExit {
    animation-duration: 0.25s;
    animation-fill-mode: both;  
    animation-name: btnExit;
  }

  /* fadeOutDown */
  @keyframes btnExit {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
      transform: translate3d(0, 100%, 0);
    }
  }

/* Horizontal lines (dual) */

.horizontal-line > div {
    background-color: var(--color-class-grey-3);
    height: 2px;
    margin: 0 auto;
}

    .horizontal-line > div.top-line {
        width: 45px;
        margin-bottom: 5px;
    }

    .horizontal-line > div.bottom-line {
        width: 80px;
    }

    /* Footer */
    footer > .container {
        display: inline-block;
        width: 100%;
        float: left;
        padding: 20px 30px;
        background-color: var(--color-class-grey-1);
    }
            #main_footer .row .f-left {
                display: inline-block;
                float: left;
                padding-top: 10px;
                font-size: 13px;
                line-height: 19px;
                font-family: 'montserratlight';
                text-align: center;
                word-break: keep-all;
                color: var(--color-class-grey-7);
            }
            #main_footer .f-right {
                display: inline-block;
                float: right;
                padding: 10px 10px 0;
                text-align: center;
            }
                #main_footer .f-right > a {
                    display: inline-block;
                    padding: 0 10px 0;
                    font-size: 13px;
                    line-height: 19px;
                    font-family: 'montserratlight';
                    text-transform: uppercase;
                    text-decoration: none;
                    word-break: keep-all;
                    color: var(--color-class-grey-10);
                }
