.side-menu {
    display: inline-block;
    float: left;
    width: 300px;
    height: 100vh;
    position: fixed;
    top: 0;
    right: -380px;
    z-index: 2;
    background-color: var(--color-class-grey-16);
    -webkit-transition: all .8s ease 0s;
    transition: all .8s ease 0s;
}
    .side-menu .element {
        display: inline-block;
        float: left;
        width: 100%;
        padding: 12px;
        font-size: 14px;
        line-height: 16px;
        border-bottom: 1px solid var(--color-class-grey-12);
        text-transform: uppercase;
        font-weight: bold;
        cursor: pointer;
    }
    .side-menu .element a {
        color: var(--color-class-white);
        text-decoration: none;
    }
    .side-menu .element .side-menu-box {
        padding: 10px 40% 10px 0;
    }
    .side-menu .hov-dark:hover {
        background-color: var(--color-class-black);
        transition: all 0.2s;
    }
    .side-menu  #dark {
        border: none;
    }
    .side-menu .element-one {
        position: relative;
        transition: all 1s;
    }
        .side-menu .element-one > a > img {
            display: inline-block;
            padding: 77px 0 50px 0;
            margin-left: calc(50% - 64px);
            opacity: 100%;
            transition: all 1s;
        }
    .element-one > a > img:hover {
        opacity: 30%;
        transition: all 1s;
    }
        .side-menu .element-one > .close {
            display: inline-block;
            float: left;
            position: absolute;
            top: 0;
            left: 0;
            padding: 8px;
            font-size: 30px;
            line-height: 30px;
            margin-top: -2px;
            opacity: 30%;
            color: var(--color-class-white);
            transition: all 0.5s;
        }
    .element-one > .close:hover{
        opacity: 100%;
        transition: all 0.5s;
    }
    .element .menu-item {
        display: inline-block;
        float: left;
        position: absolute;
        padding: 5px;
        font-size: 12px;
        line-height: 12px;
        border-radius: 5px;
        margin:-3px 0 0 -66px;
        cursor: default;
        text-transform: capitalize;
        background-color: var(--color-class-yellow);
        color: var(--color-class-red);
    }
    .side-menu #dark {
        text-transform: capitalize;
    }
    .show-side-menu {
        right: 0;
        -webkit-transition: all .4s ease 0s;
        transition: all .4s ease 0s;
    }
    #dark .span {
        display: inline-block;
        font-weight: bold;
        cursor: pointer;
        color: var(--color-class-white);
    }
@media (max-width: 760px) {
    .side-menu {
        width: 250px;
    }
    #dark .span {
        width: 100%;
    }
    .side-menu .element .side-menu-box {
        padding: 10px 30% 10px 0;
    }
}