#testimonials .carousel-container {
    width: 1000px;
    margin: 0 calc(50% - 500px) 0;
    overflow: hidden;
}
#testimonials .carousel-slide {
    display: flex;
    width: 600%;
    height: auto;
}
#testimonials .testimonial-slide {
    width: 100%;
    height: auto;
}
    .testimonial-slide > img {
        margin-left: calc(50% - 49px);
        margin-bottom: -49px;
    }
    .testimonial-slide .testimonial-content {
        display: inline-block;
        float: left;
        width: 100%;
        height: 280px;
        text-align: center;
        background-color: var(--color-class-grey-1);
        }
        .testimonial-slide .testimonial-content > h4 {
            display: inline-block;
            width: 100%;
            margin: 70px 0 15px 0;
            font-size: 18px;
            line-height: 20px;
            font-family: 'Montserrat', sans-serif;
            font-weight: 700;
            text-transform: uppercase;
            color: var(--color-class-grey-13);
        }
        .testimonial-slide .testimonial-content > h6 {
            display: inline-block;
            width: 100%;
            margin: 5px 0 15px 0;
            font-size: 13px;
            line-height: 15px;
            font-family: 'Montserrat', sans-serif;
            font-weight: 900;
            text-transform: uppercase;
            color: var(--color-class-grey-8);
        }
        .testimonial-slide .testimonial-content > p {
            display: inline-block;
            width: calc(100% - 50px);
            margin: 5px 0 30px 0;
            font-size: 16px;
            line-height: 28px;
            font-family: 'Popins', sans-serif;
            font-weight: 500;
            color: var(--color-class-grey-7);
        }
        #prevBtn,
        #nextBtn {
            position: relative;
            margin-top: -50px;
            left: calc(50% - 40px);
            padding: 5px 10px;
            font-size: 14px;
            line-height: 20px;
            font-weight: 100;
            background-color: var(--color-class-grey-15);
            color: var(--color-class-white);
        }
        @media (max-width: 1300px) {
            #testimonials .carousel-container {
                width: 800px;
                margin: 0 calc(50% - 400px) 0;
                overflow: hidden;
            }
        }
        @media (max-width: 1100px) {
            #testimonials .carousel-container {
                width: 700px;
                margin: 0 calc(50% - 350px) 0;
                overflow: hidden;
            }
        }
        @media (max-width: 900px) {
            #testimonials .carousel-container {
                width: 600px;
                margin: 0 calc(50% - 300px) 0;
                overflow: hidden;
            }
            .testimonial-slide .testimonial-content {
                height: 300px;
            }
        }
        @media (max-width: 700px) {
            #testimonials .carousel-container {
                width: 400px;
                margin: 0 calc(50% - 200px) 0;
                overflow: hidden;
            }
            .testimonial-slide .testimonial-content {
                height: 350px;
            }
        }
        @media (max-width: 400px) {
            #testimonials .carousel-container {
                width: 300px;
                margin: 0 calc(50% - 150px) 0;
                overflow: hidden;
            }
            .testimonial-slide .testimonial-content {
                height: 350px;
            }
        }